shamefully-hoist=true
strict-peer-dependencies=false

//npm.pkg.github.com/:_authToken=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
@juliangarnierorg:registry=https://npm.pkg.github.com